.mainTitle img {
  width: 100%;
  height: 300px;
  }
  
  .content {
    grid-area: c;
    background-color: gray;
  }

  .avatar img {
    width: 200px;
    height: 190px;
    border-radius: 100px;
    padding: 10px;
  }