.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active{
    color: gold;
}

.messages {
    padding: 10px;
}

.message {}

.dialogs img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }